// import custom variables
@use "../custom" as *;
// import mixins
@use "../components/mixins" as *;

.menu {
  @include gradient;
  a.navbar-brand {
    color: $white;
    font-weight: 600;
    font-size: 2rem;
  }
  li {
    padding: 0 0.7rem;
    text-transform: capitalize;
    a {
      color: $white;
    }
  }
}
